*{
    font-family: sans-serif;
}

.blockWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;
}


.blockWrapper2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.firstBlockRight{
    background-color: rgb(255,248,238) ;
    border-radius: 15px;
    padding: 40px 0 60px 0;
}

.secondBlockLeft{
    background-color: rgb(238,245,255);
    border-radius: 15px;
    padding: 40px 0 60px 0;
}

.image{
    height: 250px;
    width: 300px;
}

.heading{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #00308F;
}

.paragraph{
    font-size: 20px;
    width: 500px;
    color: gray;   
}

.bottom-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #00308F;
    width: 70%;
    margin:60px auto 60px auto;
}

.heading-first-line{
    text-align: center;
}

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-block{
    font-size: 30px;
    color: gray;
    margin: 10px 10px 10px 10px; 
    padding: 16px 35px 16px 35px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebox{
    position: absolute;
    top: 250px;
    left: -150px;
    height: 220px;
    width: 220px;
    border-radius: 20px;
    background-color: rgb(238,245,255);
    transform: rotate(50deg);
    z-index: -10;
}

.bar-graph{
    color: orange;
}

.book-tick{
    color: #71C1FF
}

.icon-wrapper{
    background-color: rgb(255,248,238) ;
    font-size: 20px;
    padding: 8px 6px 8px 6px;
    border-radius: 4px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 870px) {
    
    .secondBlockRight{
        margin-left: 60px;
    }
}

@media only screen and (max-width: 1250px) {
    .paragraph{
        width: 400px;
    }
}

@media only screen and (max-width: 1026px) {
    .paragraph{
        width: 300px;
    }
}


@media only screen and (max-width: 920px) {
   
    .single-block{
        font-size: 20px;
        margin: 10px 10px 10px 10px; 
        padding: 16px 35px 16px 35px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}

@media only screen and (max-width: 870px) {
    .blockWrapper{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        
    }
    .blockWrapper2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }


    .paragraph{
        font-size: 20px;
        width: 500px;
        color: gray;
        
    }

    .single-block{
        font-size: 15px;
        margin: 7px;
        padding: 10px 25px 10px 25px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .bottom-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #00308F;
        width: 70%;
        margin:50px auto 50px auto;
    }
}

@media only screen and (max-width: 600px) {
    .root{
        margin-left: 60px;
    }

    .bottom-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #00308F;
        width: 70%;
        margin:30px auto 30px auto;
    }
}

@media only screen and (max-width: 480px) {
    .single-block{
        font-size: 10px;
        margin: 7px;
        padding: 10px 25px 10px 25px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .paragraph{
        font-size: 20px;
        width: 400px;
        color: gray;   
    }

    .bottom-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #00308F;
        width: 70%;
        margin:20px auto 20px auto;
    }

}

@media only screen and (max-width: 370px) {
    .single-block{
        font-size: 7px;
        margin: 7px;
        padding: 8px 20px 8px 20px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .bottom-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #00308F;
        width: 70%;
        margin:20px auto 20px auto;
    }

    .paragraph{
        font-size: 20px;
        width: 300px;
        color: gray;   
    }

}